
body{
    background-color:#F8F5F1;
    font-family: 'Barlow', sans-serif;
    font-weight: normal;
    margin:0;
    padding: 0;
   
}

/* hearder */
nav{
background-color: ##F8F5F1;
font-weight: normal;
font-size: 1.2em;
}

nav ul{
    margin: 0 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #E9896A;
}

header{
    min-width: 100%;
    background: url(./images/simon-berger-twukN12EN7c-unsplash.jpg) no-repeat center;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}
header .h-cover{
    margin-top: 150px;
    margin-bottom: 150px;
    color: #F8F5F1;
    font-weight: bold;
    font-family: 'Shantell Sans', cursive;
    font-size: 3em;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
header .h-cover p{
    color: #666;
    font-weight: normal;
    font-family: 'Barlow', sans-serif;
    font-size: .7em;
    padding: 0;
   
}

/* Image Gallery*/
 .title{
    color: #333;
    margin-left: 35%;
    font-size: 2em;
    margin-top: 8%;
    font-family: 'Barlow', sans-serif;
    font-weight: normal;
}

ul {
    list-style: none;
}

.img-gallery {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    margin: 5%;
}

.img-gallery>li {
    flex-basis: auto;
    position: relative;
}

.img-gallery li img {
    object-fit: cover;
    max-width: 100%;
    border-radius: 5px;
}
img{
    max-height: 500px;
    max-width: 300px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.img-gallery li:hover .overlay{
    transform: scale(1);
}

/*  Main Content */
main{
   background-color: #343F56;
   padding: 10px;
}

/* Article */
article {
    margin: 10%;
    color: #F8F5F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
} 

article h2{
    margin-bottom: 0 ;
    font-size: 1.7em;
    color: #333;
    padding: 0;
    color: #F8F5F1;
}

article p{
    color: #333;
    padding: 0; 
    color: #F8F5F1;
    
}


article a{
    color: #F8F5F1;
    
}
article img{
    max-height: 500px;
    max-width: 500px;
}

/* Footer */
.f-wrapper{
    background-color: #343F56;
    color: #F8F5F1;
}

ul > .sm-icons{
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    margin-right: 10px;

}
.sm-icons a{
    text-decoration: none;
}

.f-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 15px;
}

.f-text a{
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    color: #F8F5F1;
    padding-right: 50px;
}

.f-text a:hover {
    color: #E9896A;
}
.copy-right{
    display: flex;
    align-items: center;
}